.wrap{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1920 500' style='enable-background:new 0 0 1920 500;' %3E%3Cg id='wave'%3E%3Cpath fill='%23C1E5F1' d='M-162.1-47.1c0,0,345.3,338,843.4,282.1c0,0,69.8-6.2,117.2-25c64.8-25.6,304.2-209.2,398.9-148.8 c55.8,35.5,78.2,99.6,12.1,142.2c0,0-77.5,83.8,3.7,16.9C1299.8,149,1362.7,72,1405.7,69.7c34.9-1.8,164,50.6,359.3,115.7 c155.4,51.8,371,230.3,371,230.3l-216-608.3l-1246-38.2l-969.8,17.6L-162.1-47.1z'/%3E%3C/g%3E%3Cg id='wave2'%3E%3Cpath fill='%236CC7E7' d='M-89.8-71.3c0,0,345.3,338,843.4,282.1c0,0,73.7-11.6,107.3-28.3c62.3-31.1,199.5-132,294.2-71.6 c55.8,35.5,17.3,151.3-48.9,194c0,0,98.1-41.8,179.3-108.7c86.6-71.4,149.5-80.8,192.5-83c34.9-1.8,127.3,5.8,322.5,70.9 c155.4,51.8,407.8,207.6,407.8,207.6l-216-608.3L746.3-255l-969.8,17.6L-89.8-71.3z'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
    min-height:100vh;
    transition: background-position 0.5s;
}
.wrap.up{
    background-position: center -100px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1920 500'     style='enable-background:new 0 0 1920 500;' %3E%3Cg id='wave'%3E%3Cpath fill='%23ccc' d='M-162.1-47.1c0,0,345.3,338,843.4,282.1c0,0,69.8-6.2,117.2-25c64.8-25.6,304.2-209.2,398.9-148.8 c55.8,35.5,78.2,99.6,12.1,142.2c0,0-77.5,83.8,3.7,16.9C1299.8,149,1362.7,72,1405.7,69.7c34.9-1.8,164,50.6,359.3,115.7 c155.4,51.8,371,230.3,371,230.3l-216-608.3l-1246-38.2l-969.8,17.6L-162.1-47.1z'/%3E%3C/g%3E%3Cg id='wave2'%3E%3Cpath fill='%236CC7E7' d='M-89.8-71.3c0,0,345.3,338,843.4,282.1c0,0,73.7-11.6,107.3-28.3c62.3-31.1,199.5-132,294.2-71.6 c55.8,35.5,17.3,151.3-48.9,194c0,0,98.1-41.8,179.3-108.7c86.6-71.4,149.5-80.8,192.5-83c34.9-1.8,127.3,5.8,322.5,70.9 c155.4,51.8,407.8,207.6,407.8,207.6l-216-608.3L746.3-255l-969.8,17.6L-89.8-71.3z'/%3E%3C/g%3E%3C/svg%3E");
}

#hd{font-family: 'GmarketMedium','NanumSquare',sans-serif;}
.hdtop{
    padding-top: 15%;
    h2{
        font-size: 4rem;
        font-family: 'GmarketBold','NanumSquare',sans-serif;}
    }   
.hdmain{
    h3{
        font-size: 3rem;
        font-weight: bold;
    }
}
@media(max-width : 768px){
    .hdmain{
        h3{
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
} 
@media(min-width : 992px){
    .hdtop{
        padding-top: 18%;
        padding-bottom: 2rem;
    }
    .hdRight{
        li{
            font-size: 1.5rem;
        }
    }
    .hdlicense{
        p{
            font-size: 1.5rem;
        }
    }
   .hdskills{
       .progress-title{
            font-size: 1.5rem;
            line-height: 5;
       }
       span{
            font-size: 1.5rem;
       }
   }
}


/*img*/
.hdLeft{
    position: relative;}
.hdmainimg{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.hdimg{
    height: 100%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-image: url(/img/mainimg1.JPG);
    background-position: center;
}

/*hdskills*/
.hdskills{white-space: nowrap;}
@keyframes animate-positive{
    0%{ width: 0; }
}
.progress-title{
    line-height: 2;
    color: #000;
}
.progress{
    margin-right: 2rem;
    width: 90%;
    height: 2px;
    background: rgb(183, 181, 181);
}
.progress .progress-bar{
    background: rgb(0, 0, 0);
    position: relative;
    -webkit-animation: animate-positive 2s;
    animation: animate-positive 2s;
    animation-direction:normal;
}

.HTML5{width: 80%;}
.js{width: 70%;}
.node{width: 65%;}
.mysql{width: 70%;}
.photo{width: 80%;}
.figma{width: 85%;}


